<p>gamescard works!</p>
<p-card
  *ngFor="let game of games"
  header="{{ game.name }}"
  [style]="{ width: '360px' }"
  styleClass="shadow-2"
>
  <p-tag
    *ngFor="let genre of game.genres"
    value="{{ genre.name }}"
    severity="{{ genreGameType(genre.name) }}"
  ></p-tag>

  <br />
  <br />
  <ng-template pTemplate="header">
    <img alt="Card" src="{{ game.background_image }}" />
  </ng-template>
  <p-rating
    ngModel="{{ gameRating(game.rating) }}"
    [cancel]="false"
    [readonly]="true"
  >
  </p-rating>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-external-link" label="More info"></p-button>
  </ng-template>
</p-card>
<!-- {{ games }} -->
